*{
    color: white;
    padding: 0px;
    margin: 0px;
    
}

body
{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
}

.BackToRecentWork
{
    width: 100hdv;
    height: 50px;
    background-color: #780000;
    display: flex;
    justify-content: space-between;
    padding: 0px 5%;
}
.BackToRecentWork h2
{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
    text-transform: capitalize;
}
.BackToRecentWork button, .BackToRecentWork a
{
    width: 120px;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: large;
    background-color:#c1121f;
    color: white;
    border-color: #fdf0d5;
}

.LeftBar
{
    background-color: #123;
    width: 80px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: 0.5s;
}
.LeftBar:hover
{
    width: 280px;
}
ul
{
    list-style: none;
}
.img-box
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: solid 3px white;
    flex-shrink: 0;

}

.img-box img
{
    width: 100%;
}

ul li a
{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 12px;
    display: flex;
    align-items:  center;
    gap: 35px;
    transition:  0.5s;
}

ul li a:hover, .Active
{
    background-color: red;
}


.MainContainer
{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.TableContainer
{
    width: 80%;
    height: 300px;
    margin: 0 auto;
    padding:10px 0px;
}

table
{
    width: 100%;
    text-align: center;
}

iframe
{
    width: 0;
    height: 0;
    border: none;
    opacity: 0;
}

td:hover {
    height: 180px;
    background-color: #777777;
}

td:hover iframe {
    width: 100%;
    height: 100%;
    opacity: 1;
}

td,th
{
    background-color: bisque;
    vertical-align: middle;
    transition: 0.5s;
    width: 30px;
    height: 40px;
    border-radius:  8px;
    overflow: hidden;
}

th
{
    background-color: #2d232e;
}

.City, .Address, .Notice
{
    padding: 6px;
    border-radius: 6px;
    color:rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.clr1
{
    background-color:#f1f0ea;
}
.clr2
{
    background-color:#e0ddcf;
}

.Breif
{
    display: block;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    padding: 120px 0px;
    align-items: center;

}
.BreifHead
{
    padding: 10px;
}

.BreifHead h2
{
    text-align: right;
    color: black;

}

.BreifPara
{
    padding-right: 30px;
}
.BreifPara p
{
    text-align: right;
    color: black;
}

.formContainer
{
    direction: rtl;
    width: 80%;
    height: 100px;
    margin: 0;
    padding: 40px;
    align-items: center;
    margin: 0px auto;
}
form
{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.SizingInput
{
    min-width: 30%;
    height: 30px;
    color: black;
    font-size: small;
}
.buttomSub
{
    width: 120px;
    height: 35px;
    background-color: #123;
    margin: auto;
    justify-content: center;
}