body
{
    padding: 0px;
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url(./images/—Pngtree—abstract\ cute\ background\ portfolio_1447420.png);

}

a
{
    text-decoration: none;
}
.main-Head-Container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
}

.main-Head-Container h1, .main-Head-Container h2
{
    text-align: center;
}

.main-Head-Container p
{
    margin:auto;
}
.main-Head-Container p a
{
    text-decoration: none;
    color: blue;

}

.mainContainer
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100hv;
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: calc(19%);
}
.boxesContainer
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
}
.boxes
{
    width: 350px;
    height: 250px;
    margin: 30px;
    border-radius: 10px;
    background-color: gray;
    box-shadow: 3px 3px 5px 1px rgb(0, 0, 0,1);
}

.boxes:hover
{
    box-shadow: 3px 3px 20px 1px black;
}

.box-1-elements
{
    width: 100%;
    height: 100%;
    display: flex;

}
.box-1-image, .box-2-image
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.box-1-image
{
    background-size: cover;
    background-image: url(./images/Supermarket-475x280.png);
}

.box-2-image
{
    background-size: cover;
    background-image: url(./images/The-7-Elements-Every-Great-Portfolio-Website-Needs-Featured-Img.jpg.webp);
}

.box-3-image
{
    background-size: cover;
    background-image: url(./Projects/Project_3/images/2.jpg);
}

.box-1-text
{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    opacity: 70%;
}

.box-1-text h2
{
    color: white;
    text-transform:uppercase;
    text-align: center;
    text-shadow: rgb(255, 255, 255, 1) 1px 1px 1px;
}

.box-1-text h2:hover
{
    transition: 0.1s;
    font-size: 24.5px;
    text-shadow: rgb(255, 255, 255, 1) 1px 1px 3px;
}

.box-1-text p
{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size:small;
}

.box-1-text p:hover
{
    transition: 0.1s;
    font-size: 13.5px;
    text-decoration: underline;
    text-decoration-color: rgb(91, 91, 91);
    text-shadow: rgb(255, 255, 255) 1px 1px 3px;
}

._main_ p
{
    width: 50%;
    margin: auto;
    text-align: center;
}